{% extends "network/layout.html" %}

{% block body %}
    
    {% if user.is_authenticated %}
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div class="NewPosts" id="NewPosts">
        <div class="card" style="width:70%;margin-left: 10%;margin-right: 20%;">
            <h5 class="card-header">Create Post</h5>
            <div class="card-body">
                <h5 class="card-title">Write Post</h5>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Content</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter Content" name="content" required></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</form>
    {% endif %}

    
    {% if AllPost %}
    <h2 style="margin-left: 20px;">All Posts</h2>
    {% for post in page_obj %}
        <div class="card" style="width:70%;margin-left: 10%;margin-right: 20%;">
            <div class="card-body">
                <a href="{% url 'viewprofile' post.user %}"><h5 class="card-title">{{post.user}}</h5></a>
                <div class="form-group">
                    <p>{{post.date}}<br>{{post.content}}</p>
                </div>
                <p>{{post.likes}}</p>
            </div>
        </div>
    {% endfor %}

    {% else %}
    <h2 style="margin-left: 20px;">Following Posts</h2>
    {% for totalPost in page_obj %}
        <div class="card" style="width:70%;margin-left: 10%;margin-right: 20%;">
            <div class="card-body">
                <a href="{% url 'viewprofile' totalPost.user %}"><h5 class="card-title">{{totalPost.user}}</h5></a>
                <div class="form-group">
                    <p>{{totalPost.date}}<br>{{totalPost.content}}</p>
                </div>
                <p>{{totalPost.likes}}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}

 


    <div class="container">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">&laquo; First</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
                
    
            {% if page_obj.number %}
            <li class="page-item"><a class="page-link">{{ page_obj.number }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link">0</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link">Next</a></li>
            <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}