{% extends "network/layout.html" %}

{% block body %}
    <h2 style="margin-left: 20px;">Posts of {{username}}</h2>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile Details</h5>
            <p class="card-text">Followers:{{no_of_followers}}</p>
            <p class="card-text">Followings:{{no_of_followings}}</p>
            
            {% if username != request.user.username %}
            {% if alreadyFollow %}
            <a href="{% url 'unfollow' username %}" class="btn btn-primary">Unfollow</a>
            {% else %}
            <a href="{% url 'follow' username %}" class="btn btn-primary">Follow</a>
            {% endif %}
            {% endif %}

        </div>
        </div>
      </div>
    {% for post in posts %}
    <div class="card" style="width:70%;margin-left: 10%;margin-right: 20%;margin-top: 20px;">
        <div class="card-body">
            <a href="{% url 'viewprofile' post.user %}"><h5 class="card-title">{{post.user}}</h5></a>
            {% if request.user.username == post.user %}
            <button onclick="edit_post({{post.id}})" id="{{post.id}}" class="btn btn-outline-primary edit-btn" style="float: right;">Edit</button>
            {% endif %}
            <div class="form-group{{post.id}}" id="form-group{{post.id}}" style="display: block;">
                <p>{{post.date}}<br>{{post.content}}</p>
                <button type="button" class="btn btn-primary">Like</button>
            </div>
            <form method="POST" action="{% url 'edit' post.id %}" id="edit-form{{post.id}}" style="display: none;">
                {% csrf_token %}
                {{post.date}}
                <textarea rows="5" class="form-control" name="textarea">{{post.content}}</textarea>
                <button type="submit" class="btn btn-outline-primary" style="float: right;">Save</button>
            </form>
            <p>{{post.likes}}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}